<head>
    <title>Verificar Celular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: 'Inter', sans-serif; background: #E5E5E5;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#F6FAFB">
        <tbody>
            <tr>
                <td valign="top" align="center">
                    <table class="container" width="600" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style="padding:48px 0 30px 0; text-align: center; font-size: 14px; font-weight: bold; color: #4C83EE;">
                                    LIBRARY TOWN
                                </td>
                            </tr>
                            <tr>
                                <td class="main-content" style="padding: 48px 30px 40px; color: #000000;" bgcolor="#ffffff">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 0 0 24px 0; font-size: 18px; line-height: 150%; font-weight: bold; color: #000000; letter-spacing: 0.01em;">
                                                    Ingresa este número al campo correspondiente {0}.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 10px 0; font-size: 14px; line-height: 150%; font-weight: 400; color: #000000; letter-spacing: 0.01em;">
                                                    Con el número podrús verificar tu número de celular: <span style="color: #4C83EE;">{2}</span>.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 16px 0; font-size: 14px; line-height: 150%; font-weight: 700; color: #000000; letter-spacing: 0.01em;">
                                                    Click en el boton de abajo para proceder.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 24px 0;">
                                                    <a class="button" href="{3}" title="Activar cuenta" style="width: 100%; background: #2563eb; text-decoration: none; display: inline-block; padding: 10px 0; color: #fff; font-size: 14px; line-height: 21px; text-align: center; font-weight: bold; border-radius: 7px;">Verificar Celular</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 16px;">
                                                    <span style="display: block; width: 117px; border-bottom: 1px solid #8B949F;"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 14px; line-height: 170%; font-weight: 400; color: #000000; letter-spacing: 0.01em;">
                                                    Atte: <br><strong>Library Org</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 24px 0 48px; font-size: 0px;">
                                    <div class="outlook-group-fix" style="padding: 0 0 20px 0; vertical-align: top; display: inline-block; text-align: center; width:100%;">
                                        <span style="padding: 0; font-size: 11px; line-height: 15px; font-weight: normal; color: #8B949F;">Booking<br />Company</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>